body{
  background-color: black;
  color: black;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.font{
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 700%;
  margin-top: 170px;
}
.tabs{
  float: right;
  margin-bottom: 0px ;
  display: block;
  border-spacing: 20px;
  text-align: right;
  font-size: 300%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: oblique;
  border-color: white;
  border-radius: 10px;
  margin: 15px;
}
.form{
  text-align: center;
}
.container{
  text-align: center;
}